- name: Restart radarr
  tags:
    - radarr
  docker_container:
    name: radarr
    image: linuxserver/radarr
    state: started
    pull: true
    restart: yes
    restart_policy: unless-stopped
    network_mode: container:vpn
    env:
        PGID: "1000"
        PUID: "1000"
        TZ: "America/Chicago"
    volumes:
     - /media/c/config/radarr:/config
     - /media/downloads/:/downloads/
     - /media/movies/media/Movies:/movies
