- name: Restart vpn
  tags:
    - vpn
  vars:
   secret: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          34353462346666666532396663343235643062623337646533653533323066623865383731636265
          3862313330346230353962303964346366666564663461310a633138323766316337623432373534
          30373963376431363933616561363963333361363232343239613135656334613963376637326136
          3063343935393964330a366432613932393161623534383637333234316139383261636565366164
          63363234633935343037396136646235653336346661353033336563616438613032373362336461
          30643138383131666236643130643633356636373461336436353363643830613431616532386338
          363631373464373564363039393461653263
  docker_container:
    name: vpn
    image: dperson/openvpn-client
    state: started
    pull: yes
    restart: yes
    restart_policy: unless-stopped
    interactive: yes
    tty: yes
    published_ports:
     - "9117:9117" 
     - "7878:7878"
     - "8112:8112"
     - "8989:8989"
    env:
        PGID: "1000"
        PUID: "1000"
        TZ: "America/Chicago"
        
    volumes:
     - /home/josh/configs/vpn/:/vpn
     - "{{ secret }}"

    devices:
     - /dev/net/tun
    
    capabilities:
     - NET_ADMIN
