return {
	override_enabled = true,
	preset = "SURVIVAL_TOGETHER",
	overrides = {
		-- MISC
		task_set = "{{task_set}}",
		start_location = "{{start_location}}",
		world_size = "{{world_size}}",
		branching = "{{branching}}",
		loop = "{{loop}}",
		specialevent = "{{specialevent}}",
		autumn = "{{autumn}}",
		winter = "{{winter}}",
		spring = "{{spring}}",
		summer = "{{summer}}",
		season_start = "{{season_start}}",
		day = "{{day}}",
		weather = "{{weather}}",
		earthquakes = "{{earthquakes}}",
		lightning = "{{lightning}}",
		frograin = "{{frograin}}",
		wildfires = "{{wildfires}}",
		regrowth = "{{regrowth}}",
		touchstone = "{{touchstone}}",
		boons = "{{boons}}",
		cavelight = "{{cavelight}}",
		disease_delay = "{{disease_delay}}",
		prefabswaps_start = "{{prefabswaps_start}}",
		petrification = "{{petrification}}",

		-- RESOURCES
		flowers = "{{flowers}}",
		grass = "{{grass}}",
		sapling = "{{sapling}}",
		marshbush = "{{marshbush}}",
		tumbleweed = "{{tumbleweed}}",
		reeds = "{{reeds}}",
		trees = "{{trees}}",
		flint = "{{flint}}",
		rock = "{{rock}}",
		rock_ice = "{{rock_ice}}",
		meteorspawner = "{{meteorspawner}}",
		meteorshowers = "{{meteorshowers}}",
		mushtree = "{{mushtree}}",
		fern = "{{fern}}",
		flower_cave = "{{flower_cave}}",
		wormlights = "{{wormlights}}",

		-- UNPREPARED
		berrybush = "{{berrybush}}",
		carrot = "{{carrot}}",
		mushroom = "{{mushroom}}",
		cactus = "{{cactus}}",
		banana = "{{banana}}",
		lichen = "{{lichen}}",

		-- ANIMALS
		rabbits = "{{rabbits}}",
		moles = "{{moles}}",
		butterfly = "{{butterfly}}",
		birds = "{{birds}}",
		buzzard = "{{buzzard}}",
		catcoon = "{{catcoon}}",
		perd = "{{perd}}",
		pigs = "{{pigs}}",
		lightninggoat = "{{lightninggoat}}",
		beefalo = "{{beefalo}}",
		beefaloheat = "{{beefaloheat}}",
		hunt = "{{hunt}}",
		alternatehunt = "{{alternatehunt}}",
		penguins = "{{penguins}}",
		cave_ponds = "{{cave_ponds}}",
		ponds = "{{ponds}}",
		bees = "{{bees}}",
		angrybees = "{{angrybees}}",
		tallbirds = "{{tallbirds}}",
		slurper = "{{slurper}}",
		bunnymen = "{{bunnymen}}",
		slurtles = "{{slurtles}}",
		rocky = "{{rocky}}",
		monkey = "{{monkey}}",

		-- MONSTERS
		spiders = "{{spiders}}",
		cave_spiders = "{{cave_spiders}}",
		hounds = "{{hounds}}",
		houndmound = "{{houndmound}}",
		merm = "{{merm}}",
		tentacles = "{{tentacles}}",
		chess = "{{chess}}",
		lureplants = "{{lureplants}}",
		walrus = "{{walrus}}",
		liefs = "{{liefs}}",
		deciduousmonster = "{{deciduousmonster}}",
		krampus = "{{krampus}}",
		bearger = "{{bearger}}",
		deerclops = "{{deerclops}}",
		goosemoose = "{{goosemoose}}",
		dragonfly = "{{dragonfly}}",
		antliontribute = "{{antliontribute}}",
		bats = "{{bats}}",
		fissure = "{{fissure}}",
		wormattacks = "{{wormattacks}}",
		worms = "{{worms}}",
	},
}
